.coin-conversion-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.conversion-text {
    font-family: Rubik;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
    color: #252b42;
    /* margin-right: 30px; */
}

.coin-unit-input {
    max-width: 100px;
    margin-right: 30px !important;
    margin-left: 30px !important;
}

.coin-chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    background: #ffffff;
    border: 1px solid #0f56b3;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px 4px rgba(15, 86, 179, 0.22);
    border-radius: 8px;
    min-width: 150px;
    /* margin-left: 30px; */
}

.close-icon {
    color: #8ab9f6;
    font-size: 20px;
}

.close-icon:hover {
    cursor: pointer;
}

.selected-coin-name {
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #8ab9f6;
    margin: 0;
    margin-right: 15px;
}

/* label underline focus color */
input:focus {
    border-bottom: 1px solid #4fb8ff !important;
    box-shadow: 0 1px 0 0 #4fb8ff !important;
    /* background: #4fb8ff44 !important; */
    /* border-radius: 6px 6px 2px 2px !important; */
}

input {
    font-weight: bold;
    font-size: 24px !important;
}
